*{
	margin: 0px;
	padding: 0px;
	/*outline: 1px dotted red;*/
	font-family: arial;
}

div.container{
	margin: 0 auto;
	width: 970px;
	height: 750px;
}

	div.header{
		width: 100%;
		height:70px;
		background: linear-gradient(#E9E9E9,white);
	}
	.header img{
		display: inline-block;
		margin-left: 30px;
	}
	.header h2{
		display: inline-block;
		vertical-align: top;
		margin-top: 30px;
		margin-left: 220px;
	}
	.menu{
		width: 100%;
		height: 35px;
		border-top: solid 1px grey;
		background: linear-gradient(white,#DEE4E8,white);
	}
	.menu p{
		margin-top: 7px;
		margin-left: 50px;
	}
		.menu a{
			text-decoration: none;
			color: #56596A;
			font-weight: bold;
			font-size: 12px;
			border-right: solid 1px rgb(214,214,214);
			padding: 10px;
			padding-right: 15px;
			padding-left: 15px;
		}
		.homeLeft{
			border-left: solid 1px rgb(214,214,214);
		}
	
	div.body{
		width: 100%;
		height: 615px;
		margin-top: 15px;
		background: radial-gradient(#373735,black);
	}
		.picture{
			display: inline-block;
			margin-top: 17px;
			margin-left: 25px;
			margin-right: 10px;
			border: solid 4px white;
		}
		div.about{
			vertical-align: top;
			display: inline-block;
			width: 54%;
			height: 263px;
			margin-top: 17px;
			background: -webkit-linear-gradient(left,#757573,#373737);
			background: -moz-linear-gradient(left,#757573,#373737);
		}
		.bold{
			font-weight: bold;
		}
			.about h3{
				background: linear-gradient(#FADA63,#FBC600);
				vertical-align: top;
				height: 25px;
				font-size: 14px;
				padding-left: 12px;
				padding-top: 6px;
			}
			.about p{
				color: white;
				font-size: 13px;
				margin: 12px;
			}
			.heritage{
				color: white;
				font-size: 16px;
				font-weight: bold;
				margin-left: 12px;
				margin-top: 10px;
			}
		.smallPic{
			display: inline-block;
			width: 50px;
			height: 15px;
			margin-left: 32px;
			margin-top: 10px;
			border-radius: 3px;
		}
		.body h4{
			display: inline-block;
			vertical-align: top;
			color: #A6A766;
			margin-left: 15px;
			margin-top: 10px;
			font-size: 14px;
		}
		div.tabs{
			width: 96%;
			height: 275px;
			margin-top: 10px;
			margin-left: 22px;
		}
		.tabs h3{
			background: linear-gradient(#FADA63,#FBC600);
			vertical-align: top;
			height: 25px;
			font-size: 14px;
			padding-left: 12px;
			padding-top: 6px;
		}
		.tabs p{
			font-size: 12px;
			margin: 10px;
		}
		.tabs img{
			border-top: solid 1px black;
		}
			div.automotive{
				width: 222px;
				height: 275px;
				display: inline-block;
				vertical-align: top;
				background-color: white;
			}
			div.commercial{
				width: 221px;
				height: 275px;
				display: inline-block;
				vertical-align: top;
				background-color: white;
				margin-left: 9px;
			}
			div.industrial{
				width: 222px;
				height: 275px;
				display: inline-block;
				vertical-align: top;
				background-color: white;
				margin-left: 9px;
			}
			div.diesel{
				width: 222px;
				height: 275px;
				display: inline-block;
				vertical-align: top;
				background-color: white;
				margin-left: 9px;
			}
				.readMore{
					background-color: #FDC700;
					border: solid 3px black;
					border-radius: 5px;
					font-size: 10px;
					font-weight: bold;
					padding: 5px;
					padding-left: 15px;
					margin-left: 100px;
					margin-top: 5px;
				}